{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="jumbotron" style="background-color: #353535;">
        <h1 class="display-4" style="color:#ffffff;">Welcome, {{ current_user.username }}!</h1>
        <p class="lead" style="color: #ffffff;">Generate and manage your API keys easily.</p>
        <hr class="my-4">
        <form action="/generate" method="post" class="form-inline">
            <label id="descriptionbutton"  class="sr-only" for="description" >Description</label>
            <input type="text" class="form-control mb-2 mr-sm-2" style="border-color:#ffffff;" style="background-color: #353535;" id="description" name="description" placeholder="Description" required>
            <button id="apibutton" type="submit" style="background-color: #8d7bff;"class="btn btn-primary mb-2">Generate API Key</button>
        </form>
    </div>

    <h2 style="color: #ffffff;">Existing API Keys</h2>
    <button class="btn btn-secondary" style="background-color: #007bff;" onclick="listKeys()">Refresh</button>
    <ul id="key-list" class="list-group mt-3" style="color: #000000;"></ul>
    
    <h2 style="color: #ffffff;">Deactivate API Key</h2>
    <form action="/deactivate" method="post" class="form-inline">
        <label class="sr-only" for="key">API Key</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="key" style="border-color: #ffffff;" style="fill: #000000;" name="key" placeholder="API Key to deactivate" required>
        <button type="submit" class="btn btn-danger mb-2">Deactivate</button>
    </form>

    <script>
        function listKeys() {
            fetch('/keys')
                .then(response => response.json())
                .then(data => {
                    const keyList = document.getElementById('key-list');
                    keyList.innerHTML = '';
                    for (const [key, value] of Object.entries(data)) {
                        const listItem = document.createElement('li');
                        listItem.className = 'list-group-item';
                        listItem.textContent = `Key: ${key}, Description: ${value.description}, Active: ${value.active}`;
                        keyList.appendChild(listItem);
                    }
                });
        }
    </script>
{% endblock %}
